/* Import FontAwesome for icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #66000035;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  background-color: #f8f8f8;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.dashboard-logo {
  height: 50px;
}

.dashboard-content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.stat-box {
  flex: 1;
  background-color: #660000d9;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-right: 10px;
}

.stat-box:hover {
  background-color: #660000eb;
}

.stat-box:last-child {
  margin-right: 0;
}

.stat-label {
  font-size: 18px;
  font-weight: bold;
}

.stat-value {
  font-size: 36px;
  color: rgb(255, 255, 255);
}

.predict-button {
  background-color: #800000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin-left: 1100px;
  margin-bottom: 20px;
}

.predict-button:hover {
  background-color: #660000;
}

.dashboard-table {
  margin-top: 80px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px; /* Add space between rows */
  margin-bottom: 20px;
}

.dashboard-table th, .dashboard-table td {
  padding: 8px;
  background-color: #fff;
}

.dashboard-table th {
  background-color: #f2f2f2;
  color: rgb(133, 17, 17);
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.dashboard-table td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.dashboard-table tr:nth-child(even) td {
  background-color: #f9f9f9;
}

.dashboard-table tr:hover td {
  background-color: #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number, .page-nav {
  background-color: #f8f8f8;
  border: none;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.page-number.active {
    background-color: #660000;
  color: white;
}

.page-number:hover, .page-nav:hover {
  background-color: #ddd;
}

.page-nav:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
