.navbar {
  background-color: #f8f8f8;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  height: 50px;
}

.navbar-profile {
  display: flex;
  align-items: center;
}

.navbar-username {
  margin-right: 10px;
  font-weight: bold;
}

.navbar-signout-icon {
  color: #800000;
  cursor: pointer;
  font-size: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: slideIn 0.3s forwards;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #f0f0f0;
}

.modal-content button:focus {
  outline: none;
}

.modal-content button.yes {
  background-color: #800000;
  color: white;
}

.modal-content button.yes:hover {
  background-color: #a00000;
}

.modal-content button.no {
  background-color: #f0f0f0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
